@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
   background-color: #f9f7f7; /* abu-abu terang */
  margin: 0; /* hilangkan default margin */
  padding: 0; /* optional */
}


@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}
